body
{
	background-color:ghostwhite;
/* 	overflow:hidden; */
}

a.carousel-item
{
	color:grey;
}

.collapsible-header,.collapsible
{
    font-weight: 300;
    color: grey;
}

.collapsible-body
{
	background-color:white;
}

.cardBody
{
    padding:10px !important;
}

.carouselContainer
{
	width:100%;
}

.carousel
{
	height:500px !important;
}

#contactContainer
{
	height:900px;
	display:none;
	border-right:.8px solid grey;
	background-color:white;
	box-shadow:1px 2px 20px 1px;
}

.circle
{
	margin-top: 28px !important;
}

.contactInfoContainer
{
	padding-top:10px;
	cursor:default;
}

.contactInfoContainer i
{
	position: relative !important;
    top: 6px !important;
    margin-right:10px !important;
}

#changeView
{
	cursor:pointer;
}

.hide-on-med-and-down li:last-of-type, #changeView
{
	margin-right:50px;
}

.cardContainer
{
	margin:20px !important;
	padding:10px !important;
}

#tableDisplayContainer
{
	display:none;
}

.collection
{
	width:100%;
}
